.content {
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    color: rgb(202, 202, 202);
    font-weight: 500;
}

button {
    margin-bottom: .8rem;
    color: rgb(92, 29, 29);
}

.table {
    width: 100%;
    background: rgb(109, 108, 108);
}

.livros {
    color: rgb(93, 177, 82);
    margin-left: .3rem;
}

.edit {
    color: rgb(216, 168, 45);
}

.delete {
    color: rgb(207, 61, 61);
    margin-left: .5rem;
}

.mat-header {
    width: 5rem;
}

.mat-header-cell , .mat-cell, .mat-footer-cell {
    color: rgba(248, 248, 248, 0.966);
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #d63e71;
}